.navbar{
    display: flex;
    /*sombra abaixo da barra de navegaçao (preto com opacidade)*/
    box-shadow: rgba(0,0,0, .15) 0px -2px 10px 0px;
    /*logo a esquerda link na direita*/
    justify-content: space-between;
    align-items: center;
    /*.05 baixo e laterais 2em*/
    padding: .5em 2em;
    
}
.brand{
font-size: 1.2em;
}
.brand span {
    font-weight: 900;
    text-transform: uppercase;

}
.links_list{
    display: flex;
    list-style: none;
}
.links_list li {
    margin-right: 1em;
}
.links_list a{
    padding: .4em .6em;
}

.active {
    background-color: black;
    color: #fff;
}